.social {
  background-color: #123c3d;
  padding: 1em 0;
}
footer {
  padding: 1em 0;
  background-color: #e4eaea;
  ul {
    list-style-type: none;
    padding: 0;
  }
  .footer-col .widget {
    padding-right: 3.4em;
  }
  .site-info {
    padding: 1em;
  }
  .widFRR {
    margin: 0 auto !important;
  }
}