.homepage {
  .header-home {
    display: table;
    background-size: cover;
    background-position: center top;
    width: 100%;
    min-height: 480px;
    color: #fff;
    a {
      color: #fff;
    }
    a:hover {
      color: #fff;
    }
    h1 {
      margin-bottom: 0;
    }
    h1, p {
      color: #fff;
      text-shadow: #222 2px 3px 5px;
    }
    @media (min-width: 768px) {
      h1, p {
        margin-left: 10%;
        margin-right: 10%;
      }
      h1 {
        font-size: 2em;
      }
    }
    .container {
      display: table-cell;
      vertical-align: middle;
    }
    .home-call-to-action {
      margin-bottom: 2.4em;
    }
  }
  .section-img {
    background-position: center center;
    background-size: cover;
    .section-bg {
      background: rgba(0,0,0,.2);
      min-height: 480px;
      color: #fff;
      h2 {
        color: #fff;
      }
    }
  }
}

.home-entry {
  margin: 1.6em 0;
}
.btn-action {
  text-shadow: #222 2px 3px 5px;
  font-size: 1em;
  font-weight: 700;
  background-color: transparent;
  border-color: #fff;
  padding: 1em 1.6em;
  margin: 0 0.6em 0.6em 0.6em;
}

.paged-posts {
  margin-bottom: 1.6em;
}

nav .previous {
  float: left;
}

nav .next {
  float: right;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  text-decoration: none;
  background-color: #3b94d9;
}

.call-to-action {
  margin: 3.2em 0;
}
.btn-home {
  color: #222;
  font-size: 1em;
  background-color: transparent;
  border-color: #222;
  padding: 1em 1.6em;
  margin: 0.6em 0;
}
.btn:hover {
  color: #fff;
  background-color: #91700C;
}

