.navbar {
  margin: 0;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  background: #fff;
  .navbar-brand {
    height: 100px;
  }
  .navbar-nav > li > a {
    padding-bottom: 1em;
  }
}
@media (min-width: 768px) {
  .navbar .container-fluid {
    display: table;
    width: 100%;
    max-width: 1240px;
  }
  .navbar-default .navbar-collapse {
    display: table-cell !important;
    vertical-align: middle;
  }
}
.navbar-default .navbar-nav > li > a {
  color: #123c3d;
  font-family: 'Bitter', serif;
}
.navbar-default .navbar-brand {
  font-weight: 700;
  color: #123c3d;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #91700C;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #91700C;
}
.navbar-default .navbar-nav > li.current-menu-item > a span {
  color: #91700C;
  border-bottom: 3px solid;
}